#shopcart{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
#shopcart table{
    width: 1226px;
    text-align: center;
}
#shopcart table td{
    line-height: 50px;
    font-size: 18px;
}
#shopcart table td .pay {
    width: 180px;
    height: 55px;
    background:#ff6700 ;
    
}
#shopcart table td .jian{
    width: 20px;
    height: 20px;
    background:#ddd;
}
#shopcart table td .add{
    width: 20px;
    height: 20px;
    background:#ddd;
}
#shopcart table td .pay a:hover{
    color: white;
}
#shopcart table td .pay a{
    color: white;
}
#shopcart table td a:hover{
color:#ff6700
}
#shopcart .container{
    height: 100px;
    border-bottom: 2px solid #666;
}
#shopcart .container img{
    width: 48px;
    height: 48px;
    margin-top: 26px;
}
#shopcart .container span{
    font-size: 28px;
    line-height: 100px;
    margin-left: 40px;
}
#shopcart tfoot{
    background: #eee;
}